.main-container-without-sidebar {
  height: calc(100dvh - 108px);
}

.nav-container-without-sidebar {
  height: calc(100dvh - (100dvh - 108px));
}

.main-container-with-sidebar {
  height: calc(100dvh - 80px);
}

.sidebar-main {
  height: calc(100dvh - 175px);
}

.sidebar-profile {
  height: calc(100dvh - (100dvh - 70px));
}

.nav-container-with-sidebar {
  height: calc(100dvh - (100dvh - 70px));
}
