.main-container-without-sidebar {
  height: calc(100dvh - 107px);
}

.nav-container-without-sidebar {
  height: calc(100dvh - (100dvh - 95px));
}

.main-container-with-sidebar {
  height: calc(100dvh - 95px);
}

.sidebar-main {
  height: calc(100dvh - 175px);
}

.sidebar-profile {
  height: calc(100dvh - (100dvh - 95px));
}

.nav-container-with-sidebar {
  height: calc(100dvh - (100dvh - 95px));
}
