.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-modal-show {
  z-index: 10000;
  opacity: 100;
}

.custom-modal-hide {
  z-index: -1;
  opacity: 0;
  transition: z-index 0.3s, opacity 0.2s ease-in-out;
}
