@import '/node_modules/bootstrap/scss/bootstrap.scss';

.card-container {
  @include make-container($container-padding-x);

  width: 100vw;
}

@media (min-width: 1440px) {
  .card-container {
    width: 90vw;
  }
}

@media (min-width: 1920px) {
  .card-container {
    width: 70vw;
  }
}
@media (min-width: 2560px) {
  .card-container {
    width: 2100px;
  }
}
