@import '/node_modules/bootstrap/scss/bootstrap.scss';

.user-profile-img {
  min-width: 80px;
}

.profile-container {
  @include make-container($container-padding-x);

  width: 100vw;
}

@media (min-width: 1440px) {
  .profile-container {
    width: 90vw;
  }
}

@media (min-width: 1920px) {
  .profile-container {
    width: 70vw;
  }
}
@media (min-width: 2560px) {
  .profile-container {
    width: 2100px;
  }
}
