@import 'bootstrap/scss/bootstrap';

$theme-colors: (
	'primary': $primary,
	'secondary': $secondary,
	'success': $success,
	'info': $info,
	'warning': $warning,
	'danger': $danger,
	'light': $light,
	'dark': $dark,
);

*::-webkit-scrollbar {
	display: none; /* Hides the scrollbar */
}

* {
	overflow: -moz-scrollbars-none; /* Hides the scrollbar */
}

@import 'bootstrap/scss/bootstrap';
