@import '@bootstrap';
@import '@styles/mixins';

.userCardHeader {
  display: grid;
  display: flex;
  gap: map-get($spacers, 1);
  align-items: center;

  > div > img {
    width: clamp(30px, 5vw, 70px) !important;
  }
}

.userName {
  @include text-reduction-mixin;
}
